@import url(./base.css);

:root {
  --background-color: #ffffff;
  --header-bg: #fff;
  --text-color: #000000;
  --text-color-hover: #646464;
  --button-radius: 5px;
  --button-background: #000000;
  --button-text: #ffffff;
  --button-hover: #00000080;
  --base-font: 'Open Sans', sans-serif;
  --second-font: 'Special Gothic Expanded One', sans-serif;
  --button-disabled: #b6b6b6;
  --border-buttom: #dddcdc;
  --hero-bg: url('/hero/hero-white.svg');
  --hero-color: #000;
  --award-card-bg: #000000;
  --award-card-text: #fff;
  --footer-bg: silver;
  --footer-svg-color: #000;
  --button-hero-bg: #000;
  --loader-color: #04346b;
  --vote-card-bg: #dbdbdb80;
  --award-botton-hover: #29292980;
  --switch-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1) inset;
  --transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  --border-color: #c0c0c0;
  --border-color-hover: #421412;
  --header-sub-bg: #d4d4d495;
  --header-sub-hover: #444444;
  --header-text-hover: #ffffff;
}
[data-theme='dark'] {
  --background-color: #2c2c2c;
  --header-bg: #2c2c2c;
  --text-color: #ffffff;
  --text-color-hover: #a8a8a8;
  --button-hero-bg: #000;
  --button-background: #ffffff;
  --button-text: #000000;
  --button-hover: #ffffff80;
  --button-disabled: #b6b6b6;
  --border-buttom: #444444;
  --hero-bg: url('/hero/hero-dark.svg');
  --hero-color: #ffffff;
  --foter-bg: #2b2b2b;
  --footer-svg-color: #acabab;
  --award-card-bg: #fff;
  --award-card-text: #000000;
  --loader-color: #5ca8ff;
  --vote-card-bg: #e6e6e6;
  --award-botton-hover: #29292980;
  --border-color: #3a3a3a;
  --border-color-hover: #949494;
  --header-sub-bg: #ffffff95;
  --header-sub-hover: #ffffff;
  --header-text-hover: #000;
}

body,
html {
  height: 100%;
}

body {
  background-color: var(--background-color);
}

.wrapper {
  font-family: var(--base-font);
  color: var(--text-color);
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  padding: 0 75px;
}

button:disabled {
  background-color: var(--button-disabled);
}

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

a,
button,
svg {
  transition: 0.2s;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--text-color-hover);
}
